<main class="container py-5 app-main">
    <h1 class="text-center text-md-start fw-light mb-3 mb-md-4">{{homeData.homeTitle}}</h1>

    <section class="categories-container d-flex flex-column flex-md-row">
        @for (item of homeData.categories; track $index) {
            <a [routerLink]="item.route" class="category-card">
                <figure class="m-0">
                    <img [src]="item.imageUrl" alt="">
                </figure>
                <h2 class="fw-light">
                    {{item.name}}
                </h2>
            </a>
        }
    </section>
</main>