<main class="container py-5 app-main">
    <h1 class="text-center text-md-start fw-light mb-3 mb-md-4">CATEGORIAS</h1>

    <section class="categories-container d-flex flex-column flex-md-row">
        <a href="/categoria-aventura.html" class="category-card">
            <figure class="m-0">
                <img src="./img/categoria_aventura.png" alt="">
            </figure>
            <h2 class="fw-light">
                Aventura
            </h2>
        </a>

        <a href="/categoria-deportes.html" class="category-card">
            <figure class="m-0">
                <img src="./img/categoria_deporte.png" alt="">
            </figure>
            <h2 class="fw-light">
                Deportes
            </h2>
        </a>

        <a href="/categoria-disparos.html" class="category-card">
            <figure class="m-0">
                <img src="./img/categoria_disparos.png" alt="">
            </figure>
            <h2 class="fw-light">
                Disparos
            </h2>
        </a>

    </section>
</main>