<div class="app-header-container" [class.bannerDisabled]="!showBanner">
    <header class="app-header">
        <nav class="navbar navbar-expand-lg">
            <div class="container app-header-navContainer">
                <!-- LOGO - NOMBRE DEL SITIO -->
                <a class="navbar-brand text-white" href="index.html">
                    {{layoutContent.appName}}
                </a>

                <!-- BOTÓN HAMBURGUESA (solo visible en pantallas pequeñas) -->
                <button class="app-header-navBtn navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNav">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <!-- MENÚ DE NAVEGACIÓN -->
                <div class="collapse navbar-collapse app-header-nav" id="navbarNav">
                    <ul class="navbar-nav ms-auto">
                        @for (item of menuItems; track $index) {
                            <li class="nav-item container">
                                <a class="nav-link text-white" [routerLink]="item.route">{{item.label}}</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    @if(showBanner) {
        <section class="main-hero container d-flex justify-content-center align-items-center justify-content-md-start">
            <div class="hero-content-card p-4">
                <h1 class="m-0">{{layoutContent.heroTitle}}</h1>
            </div>
        </section>
    }
</div>


<!-- Contenido principal -->
<router-outlet></router-outlet>


<!-- Footer -->
<footer class=" bg-black py-4">
    <div class="footer-container container">
        <p class=" m-0 text-white text-center">{{layoutContent.footerText}}</p>
    </div>
</footer>