
.app-header-container.category {
    height: 100%;
}

.main-category {
    min-height: 85vh;
}

.breadcrumb {
    width: fit-content;
    text-decoration: none;
}

.breadcrumb:hover {
    text-decoration: underline;
}

.game-card {
    display: block;
    border: 1px solid rgb(183 183 183 / 42%);
    border-radius: 10px;
    overflow: hidden;
    text-decoration: none;
}

.game-card figure {
    width: 100%;
    height: 175px;
    overflow: hidden;
}

.game-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.game-card h2, .game-card p {
    padding: 0 10px;
    text-decoration: none;
}

.game-card:hover img {
    transform: scale(1.1);
}


@media (min-width: 768px) {
    .app-header-nav {
        filter: none;
        background-image: none
    }

    .game-card {
        width: 280px;
    }
}