<main class="container main-category py-5">
    <a class="breadcrumb text-black" routerLink="/">Volver al inicio</a>

    @if (categoryData === null && error) {
    <h2 class="text-center fw-light mt-3 mb-3 mb-md-4">Página no encontrada</h2>
    <p class="text-center">Lo sentimos, la página que buscas no existe. 🥹</p>

    }

    @if (categoryData !== null && !error) {
    <h1 class="text-center fw-light mt-3 mb-3 mb-md-4">{{categoryData.name}}</h1>

    <section class="categories-container d-flex flex-column justify-content-md-center flex-md-row flex-wrap">
        @for (item of categoryData.games; track $index) {
        <a class="game-card text-black">
            <figure class="m-0">
                <img [src]="item.imageUrl" alt="">
            </figure>
            <h2 class="mt-3">{{item.name}}</h2>
            <p>{{item.description}}</p>
        </a>
        }
    </section>
    }
</main>