<main class="container main-category py-5">
    <a class="breadcrumb text-black" href="/index.html">Volver al inicio</a>
    <h1 class="text-center fw-light mt-3 mb-3 mb-md-4">Aventura</h1>

    <section class="categories-container d-flex flex-column justify-content-md-center flex-md-row flex-wrap">
        <a href="" class="game-card text-black">
            <figure class="m-0">
                <img src="./img/zelda.png" alt="">
            </figure>
            <h2 class="mt-3">Zelda</h2>
            <p>Exploración y aventuras en el reino de Hyrule</p>
        </a>

        <a href="" class="game-card text-black">
            <figure class="m-0">
                <img src="./img/god.png" alt="">
            </figure>
            <h2 class="mt-3">God of War</h2>
            <p>Embárcate en una épica aventura en la mitología nórdica</p>
        </a>

        <a href="" class="game-card text-black">
            <figure class="m-0">
                <img src="./img/mario.png" alt="">
            </figure>
            <h2 class="mt-3">Super Mario Odyssey</h2>
            <p>Acompaña a Mario en una aventura por diversos mundos para rescatar a la Princesa Peach</p>
        </a>

    </section>
</main>